---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
---

<style>
    .btn-send {
        width: 143px;
        height: 49px;
        font-size: 16px;
        font-weight: 500;
        background: #e01f34;
        color: white;
        border: none;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        transition: 0.3s;
    }
    .container-form {
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    @media (max-width: 991px) {
        .container-form {
            margin-top: 92px !important;
        }
    }
</style>
<Layout>
    <Navbar />
    <form method="POST" action="/api/brevo-submit" class="contact-form">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />

        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required />

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" required></textarea>

        <button type="submit">Enviar Mensaje</button>
    </form>

    <style>
        /* Puedes agregar un estilo básico aquí */
        .contact-form {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            gap: 10px;
        }
        input,
        textarea,
        button {
            padding: 10px;
            font-size: 16px;
        }
    </style>

</Layout>
<br />
<br />


<Footer />
