---
import "../styles/all.min.css";
import "../styles/global.css";
---

<div
    class="container row"
    style=" display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;"
>
    <img class="col-lg-4 col-md-6 col-sm-8" src="./about-photo.png" alt="" data-aos="fade-right"/>
    <div data-aos="fade-left"
        class="col-lg-7 col-md-12 col-sm-12"
        style="    display: flex;
    gap: 14px;
    flex-direction: column;
}" id="about"
    >
        <div class="row gap-5" style="color: #052551;display:flex; gap: 25px; ">
            <div class="col-lg-1 about-icon">
                <img src="./about-icon.svg" alt="" />
            </div>
            <div class="col-lg-9 about-text">
                <h4 class="fw-semibold">¿Quiénes somos?</h4>
                <p>
                    En LOGIMPORT PERÚ SAC, somos especialistas en la venta y
                    distribución de Big Bags en todo el Perú, diseñados para el
                    transporte seguro y eficiente de minerales, granos,
                    fertilizantes y materiales industriales.
                </p>
            </div>
        </div>
        <div class="row gap-5" style="color: #052551;display:flex;gap: 25px;  ">
            <div class="col-lg-1 about-icon">
                <img src="./mision-icon.svg" alt="" />
            </div>
            <div class="col-lg-8 about-text">
                <h4 class="fw-semibold">Misión</h4>
                <p>
                    Brindar soluciones seguras, eficientes y sostenibles para el
                    transporte y almacenamiento de materiales a granel,
                    ofreciendo Big Bags de alta calidad que respondan a las
                    necesidades de la industria minera, agrícola y logística del
                    Perú. Nos comprometemos con la puntualidad, la confianza y
                    la atención personalizada a cada cliente.
                </p>
            </div>
        </div>
        <div class="row gap-5" style="color: #052551;display:flex;gap: 25px;  ">
            <div class="col-lg-1 about-icon">
                <img src="./vision-icon.svg" alt="" />
            </div>
            <div class="col-lg-8 about-text">
                <h4 class="fw-semibold">Visión</h4>
                <p>
                    Ser una empresa líder en la venta y distribución de Big Bags
                    en el Perú en el corto plazo, reconocida por su excelencia
                    en servicio, innovación en productos y compromiso con la
                    sostenibilidad, expandiendo nuestra presencia a nivel
                    nacional y posicionándonos como un aliado estratégico de las
                    principales empresas del sector.
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    @media (max-width: 991px) {
        .about-text,
        .about-icon {
            text-align: center;
        }
    }
</style>
