<section
    class="container"
    style="display: flex;flex-direction: column;justify-content: center;align-items: center;"
>
    <div class="info-container" style="width: 100%;">
        <br />
        <br />
        <h2 style="color:black; text-align: center;">
            Big Bags una solución eficiente para el transporte y almacenamiento
        </h2>
        <div style="width: 100%;">
            <div
                class="container mt-5"
                style="font-family: var(--lato); font-size: 18px;"
            >
                <!-- Primer acordeón independiente -->
                <div class="accordion mb-3" id="accordionExample1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne1">
                            <button
                                class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne1"
                                aria-expanded="true"
                                aria-controls="collapseOne1"
                            >
                                ¿Por qué usar BigBag?
                            </button>
                        </h2>
                        <div
                            id="collapseOne1"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne1"
                            data-bs-parent="#accordionExample1"
                        >
                            <div class="accordion-body">
                                Actualmente las empresas estan optando por el
                                uso de los big bag, por las siguientes razones:
                                Porque presenta una alternativa eficiente y
                                económica en el manejo y protección de la
                                carga...
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Segundo acordeón independiente -->
                <div class="accordion mb-3" id="accordionExample2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo1">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo1"
                                aria-expanded="false"
                                aria-controls="collapseTwo1"
                            >
                                Guía de uso de Big Bag
                            </button>
                        </h2>
                        <div
                            id="collapseTwo1"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingTwo1"
                            data-bs-parent="#accordionExample2"
                        >
                            <div class="accordion-body">
                                Les presentamos una importante guía general para
                                el uso de los big bag, fabricados a partir de
                                telas sintéticas flexibles. Importante para
                                tenerlo en cuenta en su uso...
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tercer acordeón independiente -->
                <div class="accordion mb-3" id="accordionExample3">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree1">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree1"
                                aria-expanded="false"
                                aria-controls="collapseThree1"
                            >
                                Productos en los que se usan nuestros Big Bag
                            </button>
                        </h2>
                        <div
                            id="collapseThree1"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingThree1"
                            data-bs-parent="#accordionExample3"
                        >
                            <div class="accordion-body">
                                Cada vez nuevos sectores optan por el uso de
                                nuestros big bag. Entre los sectores
                                tradicionales tenemos: productos alimenticios,
                                químicos, minerales, construcción...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
