---


---

<style>
    .swiper {
        width: 80%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-button-next,.swiper-button-prev{
        color: white !important;
    }
</style>

<!-- Swiper -->
<div class="container py-5" >
    <div class="swiper mySwiper" data-aos="fade-up">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./slide-1-gallery.png" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="./slide-2-gallery.png" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="./slide-3-gallery.png" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="./slide-1-gallery.png" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="./slide-2-gallery.png" alt="" />
            </div>
            <div class="swiper-slide">
                <img src="./slide-3-gallery.png" alt="" />
            </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

<script>
    import Swiper from "swiper";
    import { Navigation, Pagination } from "swiper/modules";

    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 40,
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 50,
            },
        },
        modules: [Navigation, Pagination],
    });
</script>
