---
import "../styles/all.min.css";
import "../styles/global.css";
---

<div class="w-100 py-5 text-center">
    <h2 class="" style="color: #052551;">Soluciones para distintos sectores</h2>

    <div  data-aos="fade-up"
  data-aos-duration="800"
        class="img-fixet d-flex justify-content-center align-items-center flex-wrap mt-4 py-4"
        style="gap: 60px;"
    >
        <div class="text-center">
            <img
                class="solutions-icon"
                src="./icons-solutions/agricola-icon.svg"
                alt=""
            />
            <p class="mt-2 fw-semibold">AGRÍCOLA</p>
        </div>

        <div class="text-center">
            <img
                class="solutions-icon"
                src="./icons-solutions/construccion-icon.svg"
                alt=""
            />
            <p class="mt-2 fw-semibold">CONSTRUCCIÓN</p>
        </div>

        <div class="text-center">
            <img
                class="solutions-icon"
                src="./icons-solutions/ecologia-icon.svg"
                alt=""
            />
            <p class="mt-2 fw-semibold">ECOLOGÍA</p>
        </div>

        <div class="text-center">
            <img
                class="solutions-icon"
                src="./icons-solutions/exportacion-icon.svg"
                alt=""
            />
            <p class="mt-2 fw-semibold">EXPORTACIÓN</p>
        </div>

        <div class="text-center">
            <img
                class="solutions-icon"
                src="./icons-solutions/mineria-icon.svg"
                alt=""
            />
            <p class="mt-2 fw-semibold">MINERÍA</p>
        </div>

        <div class="text-center">
            <img
                class="solutions-icon"
                src="./icons-solutions/plastico-icon.svg"
                alt=""
            />
            <p class="mt-2 fw-semibold">PLÁSTICO</p>
        </div>
    </div>
</div>

<style>
    .img-fixet {
        background-image:
            url("/section-background.png"),
            /* capa transparente encima */
            url("/section-background-producs.png"); /* fondo parallax */

        background-repeat: no-repeat, no-repeat;
        background-size: cover, cover;
        background-position: center, center;

        /* El parallax va en la SEGUNDA imagen */
        background-attachment: scroll, fixed !important;

        min-height: 31vh;
    }

    /* Mejor spacing responsivo */

    @media (max-width: 768px) {
        .img-fixet {
            padding-top: 5.5rem !important;
            gap: 16px !important;
        }
        .solutions-icon {
            width: 67% !important;
        }
    }
</style>
