<div class="container d-flex justify-content-center py-5">
    <iframe style="border-radius: 3px;"
        width="1100"
        height="409"
        src="https://www.youtube.com/embed/c8LkBFxoYK4"
        title="GSC367 – Máquina de Coser Big Bags – Costura Libre"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe> 
</div>
