<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>Logimport Perú SAC</title>
	</head>
	<body>
		<slot />

		<script>
			import "swiper/css";
			import "swiper/css/navigation";
			import "swiper/css/pagination";
		</script>
		<script>
			import "bootstrap/dist/css/bootstrap.min.css";
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
